body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 p, h1, h2, h3, h4, ul{
     margin: 0px;
 }
 
 ul{
     margin: 0px;
     padding: 0px;
     list-style: none;
 }
 
 a{
     text-decoration: none;
 }
 
 img{
    max-width: 100%;
    display: block;
    height: auto;
 }

 .container{
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
 }

 .cor-white{
    color: white;
 }

